/* home.page.scss */
.content-pastel {
  --background: #f0e6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Menggunakan vh untuk full height viewport */
}

.card-center {
  position: absolute; /* Memposisikan card secara absolute */
  top: 50%; /* Menggeser ke tengah vertikal */
  left: 50%; /* Menggeser ke tengah horizontal */
  transform: translate(-50%, -50%); /* Menyesuaikan posisi ke tengah sempurna */
  width: 90%;
  max-width: 400px;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.info-container {
  color: #555;
}

.info-container h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin: 0;
  color: #6a1b9a;
}

.info-container h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 10px;
  color: #8e44ad;
}